<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iapdemo.huawei">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/iap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.huawei.iapdemo.activity.ConsumptionActivity"
            android:label="@string/consumable_products"></activity>

        <activity
            android:name="com.huawei.iapdemo.activity.NonConsumptionActivity"
            android:label="@string/hidden_level"></activity>

        <activity
            android:name="com.huawei.iapdemo.subscription.SubscriptionActivity"
            android:label="@string/auto_renewable_subscription"></activity>

        <activity android:name="com.huawei.iapdemo.activity.EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.huawei.iapdemo.activity.PurchaseHistoryActivity"
            android:label="@string/purchase_history_title" />
    </application>

</manifest>
